node_modules
**/node_modules
.git
.next
**/.next
coverage
build
ios/build
apps/android-pos/.gradle
apps/android-pos/app/build
zatca-einvoicing-sdk-238-R4.0.0
zatca-einvoicing-sdk-Java-238-R3.4.8
build-log.txt
build-log2.txt
build-log3.txt
build-log4.txt
build-log5.txt
build-log6.txt
build-log7.txt
build-log8.txt
build-log9.txt
