POSTGRES_DB=ampos
POSTGRES_USER=ampos
POSTGRES_PASSWORD=change_me_db_password
DATABASE_URL=postgresql://ampos:change_me_db_password@postgres:5432/ampos?schema=public
REDIS_URL=redis://redis:6379
JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
MOYASAR_WEBHOOK_SECRET=change_me_moyasar_webhook_secret
TAP_WEBHOOK_SECRET=change_me_tap_webhook_secret
SOCKET_PORT=4001
QR_SIGNING_SECRET=change_me_qr_signing_secret
PUBLIC_API_URL=https://api.clo0.net
PUBLIC_SOCKET_URL=https://api.clo0.net
ADMIN_WEB_URL=https://admin.clo0.net
CUSTOMER_WEB_URL=https://customer.clo0.net
KDS_WEB_URL=https://kds.clo0.net
WAITER_WEB_URL=https://waiter.clo0.net
CORS_ORIGINS=https://admin.clo0.net,https://customer.clo0.net,https://kds.clo0.net,https://waiter.clo0.net,https://api.clo0.net,http://206.168.214.225:8085
